app.component <br>
<!-- <div id="Header">
  <app-header></app-header>
</div>

<div id="Left">
  <app-left></app-left>
</div>

<div id="Right">
  <app-right></app-right>
</div>

<div id="Footer">
  <app-footer></app-footert>
</div> -->

  <div class="split top">
    <app-header></app-header>
  </div>

  <div class="split left">
    <app-left></app-left>
  </div>
  
  <div class="split right">
      <app-right></app-right>
  </div>
  
  <div class="split bottom">
      <app-footer></app-footer>
  </div>    